<div class="container bg-white h-100">
  <h2 class="text-center"> QUOTES</h2>
    <hr>
  
    <div class="row">
      <div class="col-md-7">
      
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} appHigh>{{quote.quote}} <br> created on {{quote.postdate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">more info</button>
          </div>
       
          <div >
            <app-quotes-detail *ngIf='quote.showDescription'  [quote]='quote' (isVoted) = 'deleteQuote($event,i)'></app-quotes-detail>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> 
   </div>
    </div>
  </div>