<div class="container-fluid h-100">
  <h2 class="text-center text-white"> MY QUOTES</h2>
  <p class="text-center text-white"><span class="strong"> My quotes website</span> motivates you and uplifts your spirit. You can read the quote,delete the quote, upvote or downvote the quote according to how it made you feel. Incase you want to add new quotes you can fill in the form provided</p>
    <hr>
  
    <div class="row">
      <div class="col-md-7">

        <div *ngFor='let quote of quotes;let i = index'>
          <div class="card">
            <div class="card-body mt-10">
          <div>
            <div *ngIf="quote.like == highestlikes() && quote.like >0; then highlight else empty"></div>
            <ng-template #highlight>
              <h6 appHighlight id={{i}}>&quot;{{quote.quote}}&quot; <br> Created on &nbsp;&nbsp;{{quote.postdate|date|uppercase}}</h6>
              <button (click)='toggleDetails(i)' class="btn btn-primary">more info</button>
              <div class="delete" >
                <app-quotes-detail *ngIf='quote.showDescription'  [quote]='quote' (isVoted) = 'deleteQuote($event,i)'></app-quotes-detail>
              </div>
              <!-- <button class="btn btn-success" (click)="likeButtonClick(i)">Upvotes<p>{{quote.like}}</p></button>
            <button class="btn btn-danger" (click)="dislikeButtonClick(i)">Downvotes<p>{{quote.dislike}}</p></button> -->

              </ng-template>

              <ng-template #empty>
                <h6 id={{i}}> &quot;{{quote.quote}}&quot; <br> Created on&nbsp;&nbsp;{{quote.postdate|date|uppercase}}</h6>
                <button (click)='toggleDetails(i)' class="btn btn-primary">more info</button>
                <div class="delete" >
                  <app-quotes-detail *ngIf='quote.showDescription'  [quote]='quote' (isVoted) = 'deleteQuote($event,i)'></app-quotes-detail>
                </div>
                </ng-template>
              </div>
            </div>
          </div>
          </div>
        </div>
          

            <!-- <h6 id={{i}} appHigh>{{quote.quote}} <br> created on {{quote.postdate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">more info</button>
          </div>
       
          

          <ng-template #empty>
            <h6 appHigh id={{i}}>{{quote.quote}} created on{{quote.postdate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">more info</button>
        </ng-template>
        </div>
      </div>
    </div>
  </div> -->
  
      <div class="col-md-5">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> 
   </div>
</div>
</div>