/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    font-family: 'Merienda', cursive;
}
h1{
    font-weight: bolder;
    padding: 20px;
    text-decoration: underline;
}
h2{
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}
